/* 设置 body 元素的样式 */
body {
    /* 设置字体为 Arial 或 sans-serif */
    font-family: Arial, sans-serif;
    /* 去除默认的 margin */
    margin: 0;
    /* 去除默认的 padding */
    padding: 0;
    /* 设置背景颜色为浅灰色 */
    background-color: #f4f4f4;
    display: flex;
}

/* 设置 .container 类的样式 */
.container {
    /* 设置上下外边距为 20px，左右自动 */
    margin: 20px;
    text-align: left;
    /* 设置内边距为 20px */
    padding: 20px;
    /* 设置背景颜色为白色 */
    background: #fff;
    /* 设置盒子阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 设置最大宽度为 800px */
    max-width: 800px;
}

/* 设置 h1 和 h2 元素的样式 */
h1, h2 {
    /* 设置文字颜色为纯黑色 */
    color: #000000;
}
/* 设置 h1 元素的字体大小 */
h1 {
    font-size: 3em; /* 例如，设置为 2.5 倍的默认字体大小 */
}

/* 设置 h2 元素的字体大小 */
h2 {
    font-size: 2.5em; /* 例如，设置为 2 倍的默认字体大小 */
}

/* 设置 .expander 类的样式 */
.expander {
    /* 设置背景颜色为灰色 */
    background-color: grey;
    /* 设置内边距为 10px */
    padding: 10px;
    /* 设置下外边距为 20px */
    margin-bottom: 20px;
    /* 设置鼠标悬停时的光标样式为指针 */
    cursor: pointer;
}

/* 设置 .content-box 类的样式 */
.content-box {
    /* 设置内边距为 10px */
    padding: 20px;
    /* 设置背景颜色为白色 */
    background-color: white;
    /* 设置边框为 1px 实线，颜色为浅灰色 */
    border: 1px solid #ddd;
    /* 设置下外边距为 20px */
    margin-bottom: 20px;
}

/* 设置 .sidebar 类 侧边栏的样式 */
/* 设置侧边栏样式 */
.sidebar {
    position: fixed; /* 固定位置 */
    left: 0; /* 左侧对齐 */
    top: 0; /* 顶部对齐 */
    width: 350px; /* 侧边栏宽度 */
    background-color: #922626; /* 背景颜色 */
    padding: 15px; /* 内边距 */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* 盒子阴影 */
    height: 100vh; /* 高度为视口高度 */
}

/* 设置侧边栏内链接的样式 */
.sidebar a {
    display: block; /* 块级元素 */
    padding: 10px; /* 内边距 */
    color: #333; /* 文字颜色 */
    text-decoration: none; /* 去除下划线 */
}

/* 设置侧边栏内链接的悬停效果 */
.sidebar a:hover {
    background-color: #ddd; /* 悬停背景颜色 */
}

/* 设置侧边栏底部固定元素的样式 */
.sidebar .bottom-fixed {
    position: absolute; /* 绝对定位 */
    bottom: 15px; /* 底部对齐 */
    width: calc(100% - 30px); /* 考虑到侧边栏的内边距 */
}

/* 自定义背景图片类 */
.background-image-1 {
    background-image: url('image/C0113.jpg'); /* 替换为你的背景图片路径 */
    background-size: cover; /* 确保背景图片覆盖整个容器 */
    background-position: center; /* 居中对齐背景图片 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    background-attachment: fixed; /* 背景图片固定，不随页面滚动 */
    width: 100%; /* 确保背景图片覆盖整个宽度 */
    height: 100vh; /* 确保背景图片覆盖整个视口高度 */
    position: fixed;
    z-index: -1;
}
.background-image-2 {
    background-image: url('image/C0143.jpg'); /* 替换为你的背景图片路径 */
    background-size: cover; /* 确保背景图片覆盖整个容器 */
    background-position: center; /* 居中对齐背景图片 */
    background-repeat: no-repeat; /* 防止背景图片重复 */
    background-attachment: fixed; /* 背景图片固定，不随页面滚动 */
    width: 100%; /* 确保背景图片覆盖整个宽度 */
    height: 100%; /* 确保背景图片覆盖整个视口高度 */
    min-height: 100vh;
}