<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 设置文档的字符编码为 UTF-8 -->
    <meta charset="UTF-8">
    <!-- 设置视口，以确保页面在移动设备上显示良好 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 使用 Jinja2 语法插入文章标题 -->
    <title>404 Not Found</title>
    <!-- 链接到一个 CSS 样式表，用于页面样式 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
   <body>
      <div class="container">
         <h1>404 Not Found</h1>
         <h2>Oh! This page is not found... </h2>
         <a class="btn btn-primary d-inline-flex align-items-center mt-3" href="/"><i class="ri-home-4-line mr-2"></i>Go back --->></a>
      </div> 
  </body>
</html>