<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 设置文档的字符编码为 UTF-8 -->
    <meta charset="UTF-8">
    <!-- 设置视口，以确保页面在移动设备上显示良好 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 设置页面标题 -->
    <title>CoReader</title>
    <!-- 链接到一个 CSS 样式表，用于页面样式 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <!-- 侧边栏 -->
    <div class="sidebar">
        <!-- 页面标题 -->
        <h1>CoReader</h1>
        <!-- 表单，用于提交文章标题 -->
        <form action="/fetch_article" method="post">
            <!-- 标签，用于输入文章标题 -->
            <label for="title">Enter the title of the article:</label>
            <!-- 输入框，用于输入文章标题 -->
            <input type="text" id="title" name="title" required>
            <!-- 提交按钮 -->
            <button type="submit">Fetch Article Details</button>
        </form>
        <!-- 展示小组成员 -->
        <div class="bottom-fixed">
            <h2>Authors:</h2>
            <p><strong> Qilong Yun 23067693G</strong></p>
            <p><strong> Kong Wai Kin 23007959G</strong></p>
            <p><strong> Chengrui Tang 24060826G</strong></p>
            <p><strong> Zehao Zhang 24069596G</strong></p>
        </div>
    </div>
    <div class="background-image-1">
        <!-- 页面内容 -->
    </div>
</body>
</html>
